:root {
    width: 100vw;
    height: 100vh;
}

body {
    margin: 0;
}

.imgContainer {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #12a4de;
    background-image: url('../../Img/form.jpg'); 
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.container {
    position: absolute;
    display: flex;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.title {
    text-decoration: underline;
    font-size: 28pt;
    margin-bottom: 0.8rem;
}

@media (max-width: 420px) {
    .title {
        font-size: 24pt;
    }
}

.subtitles {
    font-size: 20pt;
    font-weight: 400;
}

@media (max-width: 420px) {
    .subtitles {
        font-size: 16pt;
    }
}

.btn {
    margin: 0.5rem;
    padding: 15px 20px;
    background-color: rgba(9, 20, 52, 0.5);
    color: #AEC3FF;
    font-size: 14pt;
    border: 0.5px solid rgba(174, 195, 255, 0.6);
    border-radius: 8px;
    box-shadow: 0px 0px 5px #AEC3FF;
    transition: ease-in-out 200ms;
    text-align: center;
}

@media (max-width: 420px) {
    .btn {
        font-size: 10pt;
        padding: 10px 15px;
    }
}

.btn:hover {
    transform: scale(1.1);
    cursor: pointer;
    border: 2px solid rgba(174, 195, 255, 1);
}

.inputsContainer {
    border: 1px solid black;
    width: 95vw;
    height: 75vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    overflow: scroll;
    scroll-behavior: smooth;
    margin-bottom: 2rem;
    background-position: 50%;
    border-radius: 20px;
    border: 0.5px solid rgba(18, 72, 222, 0.6);
    box-shadow: 0px 0px 15px #129dde;
    color: black; 
}

@media (max-width: 420px) {
    .inputsContainer {
        width: 90vw;
        height: 70vh;
    }
}

.inputContainer {
    margin: 1rem 0 2.5rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media (max-width: 420px) {
    .inputContainer {
        margin: 0.5rem 0 1.25rem 0;
    }
}

.input {
    appearance: none;
    color: black;
    border-radius: 8px;
    background-color: transparent;
    border: 0.5px solid rgba(18, 157, 222, 0.6);
    box-shadow: 0px 0px 5px #12a4de;
    margin-right: 5px;
    font-size: 16pt;
    padding-left: 0.8rem;
    outline: transparent;
    width: 20rem;
    transition: ease-in-out 100ms;
}

@media (max-width: 420px) {
    .input {
        font-size: 12pt;
        width: 15rem;
    }
}

.input:focus {
    border: 2px solid rgb(18, 140, 222);
}

.input:hover {
    border: 2px solid rgb(18, 174, 222);
}

.input::placeholder {
    color: black; 
    font-family: 'Shadows Into Light', cursive;
}

.input:read-write {
    font-family: 'Shadows Into Light', cursive;
}

.spans {
    font-size: 16pt;
    width: 25rem;
}

@media (max-width: 420px) {
    .spans {
        font-size: 14pt;
        width: 18rem;
    }
}

.genresContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 10rem;
    color: black; 
}

@media (max-width: 420px) {
    .genresContainer {
        margin: 1rem;
        justify-content: space-between;
    }
}

.genrePlatformsLabel {
    color: black; 
    margin: 1rem;
    font-size: 14pt;
    transition: ease-in-out 100ms;
}

.genrePlatformsLabel:hover {
    cursor: pointer;
    transform: scale(1.2);
}

input[type="checkbox"] {
    margin: 10px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.platfomrsContainer {
    display: flex;
}

.btnCreate {
    font-family: 'Shadows Into Light', cursive;
    color: #12b5de;
    background-color: rgba(9, 20, 52, 0.3);
    border-radius: 8px;
    border: 0.5px solid rgba(18, 164, 222, 0.6);
    box-shadow: 0px 0px 5px #12b5de;
    font-size: 18pt;
    padding: 1rem;
    transition: ease-in-out 500ms;
    margin-bottom: 3rem;
}

@media (max-width: 420px) {
    .btnCreate {
        font-size: 14pt;
    }
}

.btnCreate:hover {
    transform: scale(1.5);
    cursor: pointer;
    border: 2px solid rgb(18, 164, 222);
}
